*{
  margin: 0;
  padding: 0;
}
.game{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #2e2e2e;
  font-family: "Roboto", sans-serif;
  &__inner{
    max-width: 500px;
    min-width: 500px;
  }
  &__info{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  &__boards{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

  }
  &__board{
    width: 150px;
    height: 150px;
    margin: 5px;
    cursor: pointer;
    font-size: 100px;
    text-transform: uppercase;
    color: red;
  }
}